[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
flask = "*"
gunicorn = "*"
lxml = "*"
python-dateutil = "*"
selenium = "*"
requests = {extras = ["security"],version = "*"}
psutil = "*"
frozendict = "*"
flask-cors = "*"
atomicwrites = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3"
