[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]

python_full_version = "3.7.0"

[packages]

"beautifulsoup4" = "*"
lxml = "*"
natural = "*"
python-dateutil = "*"
selenium = "*"

[dev-packages]
